// LESS

/* THEME                  */
@light-primary-1:   #EBF7FF;
@light-primary-2:   #E4F4FF;
@primary:           #DBF1FF;
@dark-primary-2:    #ABB7BF;
@dark-primary-1:    #4781A6;

@light-secondary-1: #FFF6EA;
@light-secondary-2: #FFF2E2;
@secondary:         #FFEED9;
@dark-secondary-2:  #BFB6AA;
@dark-secondary-1:  #A67C46;

@body-padding-top:  20px;
@body-padding-left: 2%;
@default-input-padding: 5px;

@notification: #FFEEBB;

.border-radius(@radius: 3px){
  border-radius:          @radius;
  -moz-border-radius:     @radius;
  -webkit-border-radius:  @radius;
}

.body-font(){
  font-family:      Arial, Helvetica, Sans-Serif;
  font-size:        14px;
}

body {
  .body-font;
  background-color: @light-primary-1;
  padding:          @body-padding-top @body-padding-left;
}

input {
  .body-font;
  height:           20px;
  padding:          0 @default-input-padding;
}

#header {
  height:           40px;
  border-bottom:    1px solid @dark-primary-2;
  margin-bottom:    30px;

  h1 {
    color:          @dark-primary-1;
    font-size:      25px;
  }
  #login {
    float:          right;
    button {
      background-color: @light-secondary-2;
      border:           1px solid gray;
    }
  }
}

  #notification {
    position:         fixed;
    top:              0;
    z-index:          100;
    background-color: @notification;
    display:          none;
    left:             40%;
    padding:          3px 6px;
    color:            darken(@dark-primary-1, 30%);
    margin:           auto;
  }




@item-line-height:    25px;

@itemOption-width:    18px;
@itemOption-padding:  2px;
@itemOption-total-width: @itemOption-width + 2*@itemOption-padding;

@itemMain-width:      150px;
@itemMain-padding:    5px;
@itemMain-total-width: @itemMain-width + 2*@itemMain-padding;

@sidebar-width:       @itemMain-total-width + @itemOption-total-width;
@sidebar-main-gap:    20px;

.itemInput(@border:   1px solid gray, @focus-border: 1px solid black) {
  background-color:   lighten(@light-secondary-2, 3%);
  border:             @border;
  &:hover {
    background-color: @light-secondary-2;
  }
  &:focus {
    border:           @focus-border;
  }
}

/* For .itemSelect and .itemDelete */
.itemOption(){
  cursor:           pointer;
  padding:          0 @itemOption-padding;
  width:            @itemOption-width;
  text-align:       center;
  color:            @light-primary-2;
  float:            right;
  background-color: @dark-secondary-2;
}

/* For .itemValue and .itemEditForm input */
.itemMain(){
  margin-right:     @itemOption-total-width;
  width:            @itemMain-width;
  padding:          0 @itemMain-padding;
}

.item {
  line-height:        @item-line-height;
  background-color:   @light-primary-2;
  border:             1px solid @dark-primary-2;
  &:hover {
    background-color: darken(@light-primary-2, 5%);
    .itemDelete {
      color:          maroon;
    }
  }
  .itemValue {
    .itemMain;
    cursor:           default;
    .itemSearch {
      cursor:         pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .itemSelect {
    .itemOption;
  }
  .itemEdit {
    margin-right:     @itemOption-total-width;
    .itemEditForm {
      input {
        .itemInput(0, 0);
        .itemMain;
        height:             @item-line-height - 1;
        margin-right:       0;
        background-color:   white;
        &:hover {
          background-color: white;
        }
      }
    }
  }
  .itemDelete {
    .itemOption;
  }
}
.selected {
  background-color:   @secondary;
  &:hover {
    background-color: @secondary;
  }
  .itemSelect {
    color:            maroon;
  }
}

#content {
  #sidebar {
    float:                  left;
    #itemFilter {
      input {
        .itemInput;
        width:              @sidebar-width - 2*@default-input-padding;
        margin-bottom:      3px;
        .border-radius;
      }
    }
    #newItem {
      input {
        .itemInput;
        .border-radius;
        width:              @itemMain-total-width - 2*@default-input-padding;
        margin-top:         2px;
      }
    }
  }
  #main {
    position:               relative;
    top:                    0;
    margin-left:            @sidebar-width + @sidebar-main-gap;
  }
}

.spacer {
  clear:                    both;
}
