// LESS

/* THEME 1                    */
/*@light-primary-1:   #65A6D1;*/
/*@light-primary-2:   #3E97D1;*/
/*@primary:           #0A67A3;*/
/*@dark-primary-2:    #24587A;*/
/*@dark-primary-1:    #03426A;*/

/*@light-secondary-1: #FFC173;*/
/*@light-secondary-2: #FFAA40;*/
/*@secondary:         #FF8E00;*/
/*@dark-secondary-2:  #BF8030;*/
/*@dark-secondary-1:  #A65C00;*/

/* THEME 2                    */
/*@light-primary-1:   #B9E1FC;*/
/*@light-primary-2:   #A0D8FC;*/
/*@primary:           #B0C9F8;*/
/*@dark-primary-2:    #76A0BA;*/
/*@dark-primary-1:    #2A72A1;*/

/*@light-secondary-1: #FFDFB7;*/
/*@light-secondary-2: #FFD39C;*/
/*@secondary:         #FFC57B;*/
/*@dark-secondary-2:  #BF9F75;*/
/*@dark-secondary-1:  #A66E28;*/

/* THEME 3                    */
@light-primary-1:   #EBF7FF;
@light-primary-2:   #E4F4FF;
@primary:           #DBF1FF;
@dark-primary-2:    #ABB7BF;
@dark-primary-1:    #4781A6;

@light-secondary-1: #FFF6EA;
@light-secondary-2: #FFF2E2;
@secondary:         #FFEED9;
@dark-secondary-2:  #BFB6AA;
@dark-secondary-1:  #A67C46;

@body-padding-top:  20px;
@body-padding-left: 2%;

@notification: #FFEEBB;

@sidebar-width:     15%;
@sidebar-main-gap:  2%;

.border-radius(@radius: 3px){
  border-radius:          @radius;
  -moz-border-radius:     @radius;
  -webkit-border-radius:  @radius;
}


body {
  background-color: @light-primary-1;
  font-family:      Arial, Helvetica, Sans-Serif;
  font-size:        14px;
  padding:          @body-padding-top @body-padding-left;
}

#header {
  height:           40px;
  border-bottom:    1px solid @dark-primary-2;
  margin-bottom:    30px;

  h1 {
    color:          @dark-primary-1;
    font-size:      25px;
  }
  #login {
    float:          right;
    button {
      background-color: @light-secondary-2;
      border:           1px solid gray;
    }
  }
}

  #notification {
    position:         fixed;
    top:              0;
    z-index:          100;
    background-color: @notification;
    display:          none;
    left:             40%;
    padding:          3px 6px;
    color:            darken(@dark-primary-1, 30%);
  }

.itemInput(@border: 1px solid gray, @focus-border: 1px solid black) {
  width:            99%;
  background-color: lighten(@light-secondary-2, 3%);
  border:           @border;
  &:hover {
    background-color: @light-secondary-2;
  }
  &:focus {
    border:         @focus-border;
  }
}

/* For .itemSelect and .itemDelete */
.itemTdOption(){
  cursor:           pointer;
  padding:          0 2px;
  width:            1.2em;
  text-align:       center;
  color:            @light-primary-2;
}

#content {
  #sidebar {
    float:            left;
    width:            @sidebar-width;
    #itemFilter {
      input {
        .itemInput;
        margin-bottom: 5px;
      }
    }
    #itemList {
      width:                100%;
      .item {
        line-height:        1.8em;
        background-color:   @light-primary-2;
        border:             1px solid @dark-primary-2;
        &:hover {
          background-color: darken(@light-primary-2, 5%);
          .itemDelete {
            color:            maroon;
          }
          .itemSelect {
            .border-radius;
          }
        }
        .itemValue {
          cursor:           default;
          padding:          0 5px;
        }
        .itemSelect {
          .itemTdOption;
          background-color: @dark-secondary-2;
          .subject {
            color:          red;
          }
          .predicate {
            color:          green;
          }
          .object {
            color:          blue;
          }
        }
        .itemEdit {
          padding:          0 5px;
          input {
            .itemInput(0, 1px solid gray);
          }
        }
        .itemDelete {
          .itemTdOption;
        }
      }
      .selected {
        background-color:   @secondary;
        &:hover {
          background-color: @secondary;
        }
        .itemSelect {
          color:            maroon;
        }
      }
    }
    #newItem {
      input {
        .itemInput;
        margin-top: 2px;
      }
    }
    #main {
      position:           relative;
      top:                0;
      left:               @sidebar-width + @sidebar-main-gap;
      width:              100% - @sidebar-width - @sidebar-main-gap;
    }
  }
}

.spacer {
  clear:                  both;
}
