<!DOCTYPE html>
<html>
  <head>
    <title>Information Graph</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
    <link rel="stylesheet" href="{baseURL}/static/css/reset.css" type="text/css">
    <link rel="stylesheet/less" href="{baseURL}/static/css/main.less" type="text/css">
  </head>
  <body>

    <div id="header">
      <h1>Information Graph</h1>
      <div id="notification"></div>
    </div>

    <div id="content">
      <div id="sidebar">
        <input type="text" id="itemFilter"
               title="Filter items" value="Search"/>
        <div id="itemList">
        </div>
        <form class="newItem">
          <input type="text" name="newItemValue" 
                 title="Enter item value" value="Add New Item"/>
        </form>
      </div>
      <div id="main">
        <div id="queryRelationList"></div>
      </div>
    </div>

    <div class="spacer"></div>
    <div id="footer"></div>

  </body>
  <script id="relationTemplate" type="text/x-jquery-tmpl">
  </script>
  <script id="spoTemplate" type="text/x-jquery-tmpl">
    <div doc_id="${_id}" class="spo">
      <div class="docSelect" title="Select doc">
        <span class="optionText">${igSelectionIndex}</span>
      </div>
      <div class="docSearch" title="Search for this doc">${$item.data.toString()}</div>
    </div>
  </script>
  <script src="vendor/jquery/jquery.js"></script>
  <script src="vendor/couch/jquery.couch.js"></script>
  <script src="vendor/couch/sha1.js"></script>
  <script src="vendor/ig/jquery.couch.ig.js"></script>
  <script src="vendor/jquery/jquery.tmpl.js"></script>
  <script src="scripts/less-1.0.41.min.js"></script>
  <script src="scripts/shortenItem.js"></script>
  <script src="scripts/startup.js"></script>
</html>
